.footer {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    font-size: 10pt;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}