nav {
  transition: var(--transition);

  .container {
    display: flex;
    justify-content: flex-end;
    min-height: 2.9rem;
    padding: 0.9rem 1rem;
  }

  .container-with-logo {
    display: flex;
    justify-content: space-between;
    min-height: 2.9rem;
    padding: 0.9rem 1rem;
  }

  .links-container {
    .toggle {
      display: flex;
      gap: 1rem;
      flex-direction: row-reverse;
      position: relative;
      z-index: 1;
    }
    .links {
      width: 0vw;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      visibility: hidden;
      transition: var(--transition);
      opacity: 0;
      background-color: var(--blue);

      a {
        text-decoration: none;
        color: var(--white);
        text-transform: uppercase;
        font-weight: bold;
      }

      a:active {
        font-size: 8pt;
        transition: var(--click-on-article);
      }

      ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        color: var(--white);
        span {
          font-family: "Cookie";
          font-size: 1.5rem;
        }
      }

      .ul-social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0.1rem;
      }
    }
    .responsive-toggle {
      width: 60vw;
      visibility: visible;
      opacity: 1;
    }
  }
  .gi-hamburger {
    color: var(--blue);
  }

  .md-close {
    color: var(--white);
  }
}

@media only screen and (min-width: 1025px) {
  .links-container {
    .toggle {
      display: none !important;
    }
    .links {
      position: initial !important;
      height: 50px !important;
      visibility: visible !important;
      opacity: 1 !important;
      width: 500px !important;
      background-color: white !important;
      display: flex !important;
      align-items: center !important;
      justify-content: flex-end !important;
      ul {
        height: 1rem !important;
        flex-direction: row !important;
        color: var(--blue) !important;
      }
      a {
        color: var(--blue) !important;
      }

      .ul-social-media {
        width: 100px;
        height: 29px !important;
      }

      .li-join-us {
        display: flex;
        
      }

    }
  }
}
