nav {
  transition: var(--transition);

  .py-3 {
    padding: 2rem 0;
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .links-container {
    .toggle {
      display: flex;
      gap: 1rem;
      flex-direction: row-reverse;
      position: relative;
      z-index: 1;
    }
    .links {
      width: 0vw;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      visibility: hidden;
      transition: var(--transition);
      opacity: 0;
      background-color: var(--blue);

      a {
        text-decoration: none;
        color: var(--white);
        text-transform: uppercase;
        font-weight: bold;
      }

      ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        color: var(--white);
        span {
            font-family: "Cookie";
            font-size: 1.5rem;
        }
      }

      .ul-social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0.1rem;
      }
    }
    .responsive-toggle {
      width: 60vw;
      visibility: visible;
      opacity: 1;
    }
  }
  .gi-hamburger {
    color: var(--blue);
  }

  .md-close {
    color: var(--white);
  }



}
